In [1]:
import pandas as pd
import sys
import os
sys.path.insert(0,os.path.abspath('../scripts'))
import eda as eda
import importlib
importlib.reload(eda)

In [2]:
file_name = '../data/Week2_challenge_data_source(CSV).csv'
data = eda.read_csv(file_name)

In [3]:
df_clean = eda.DataFrameCleaning(data)

In [4]:
bad_columns = df_clean.get_column_with_many_null()
print("List Of Columns with More than 30% Null Values")
print(bad_columns)

List Of Columns with More than 30% Null Values
['TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B']

In [5]:
## Remove Bad columns
df_clean.drop_columns(bad_columns)
df_clean.drop_column('Dur. (ms).1')

In [6]:
bad_columns = df_clean.get_column_with_many_null()
print("Number Of Columns with More than 30% Null Values After Clean Up")
print(bad_columns)

Number Of Columns with More than 30% Null Values After Clean Up
[]

In [7]:
df_clean.drop_rows(['Bearer Id', 'MSISDN/Number'])

In [8]:
columns_object_type = ['Last Location Name', 'Handset Manufacturer', 'Handset Type']
df_clean.fill_catagorical_columns(columns_object_type)

In [9]:
all_columns = df_clean.df.columns
df_clean.fill_catagorical_columns(all_columns)

In [10]:
df_clean.fix_outliers('Dur. (ms)')

In [11]:
#df_clean.save_clean()